// Microsoft Visual C++ generated resource script.
//
#include "winresrc.h"
#include "../common/version.h"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION SITEMAP_VERSION2 
 PRODUCTVERSION SITEMAP_VERSION2 
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", COMPANY_NANE
            VALUE "FileDescription", "Sitemap Filter"
            VALUE "FileVersion", SITEMAP_VERSION1
            VALUE "InternalName", "SitemapFilter.dll"
            VALUE "LegalCopyright", "Copyright (C) 2008"
            VALUE "OriginalFilename", "sitemapfilter.dll"
            VALUE "ProductName", PRODUCT_NAME
            VALUE "ProductVersion", SITEMAP_VERSION1
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
